{
  "api": {
    "bind": "127.0.0.1:8080",
    "workers": 32
  },
  "db": {
    "url": "postgres://rr-challenge:rr-challenge@localhost:5432/cryptocurrency_transactions",
    "max_connections": 5
  }
}